<center>
	<div class="header">UI-GAI</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>
	<div class="header">
		Search items
	</div>
	<br><br>
	<form ng-submit="searchCtrl.searchSubmit()" novalidate name="searchCtrl.form">
		<table class="table table-bordered">
			<tr>
				<td>
					<select class="form-control select" required
							ng-model="searchCtrl.selectedItem"
							ng-options="option.name for option in searchCtrl.options
							track by option.name"
							ng-change="searchCtrl.updateChange(searchCtrl.selectedItem)">
					</select>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Search items" name="name"
						   ng-model="searchCtrl.name"
						   ng-click="searchCtrl.hideError()">
					<div ng-show="searchCtrl.minLengthError" class="valid">Min 3 symbols</div>
					<div ng-if="searchCtrl.form.$submitted">
						<div ng-show="searchCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary button">Submit</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="searchCtrl.searchBack()">Back</button>
	</form>
	<div class="blanker"></div>
</center>