<center>
    <div class="header">UI-GAI</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="itemsDialogCtrl.goToBack()">
    <hr>
    <br>
		<span class="dialog">
				Are you sure you want to delete {{itemsDialogCtrl.name}}?
		</span>
    <br><br>
    <hr>
    <br><br>
    <button class="btn btn-primary button" ng-click="itemsDialogCtrl.itemsEditBack()">Cancel</button>&nbsp
    <button class="btn btn-primary button" ng-click="itemsDialogCtrl.itemsEditBack()">No</button>
    <br><br>
</center>