<center>
    <div>
		<div class="header">UI-GAI</div>
        <br><br>
        <img ng-src="logo.jpg" class="logo">
        <br><br>
		<div>
            <hr>
                <div ng-click="mainCtrl.go('search')" class="items">Search items</div><br>
                <div ng-click="mainCtrl.go('items')" class="items">Items</div><br>

                <!-- ONLY for Google Market
                <div ng-click="mainCtrl.go('users')" class="items">Users</div><br>
                <div ng-click="mainCtrl.go('login')" class="items">Logout</div><br>
                <div ng-click="mainCtrl.go('audit')" class="items">Audit</div><br>
                -->

                <div ng-click="mainCtrl.go('config')" class="items">Configurations</div>
            <hr>
		</div>
    </div>
</center>